<div class="row steps-data">
  <div class="alpha four columns">
    <h6><%= t(:delivery_time) %></h6>
    <div class="delivery-time">
      <%= (order.delivery_time != nil) ? order.delivery_time : 'Unknown' %>
    </div>
  </div>
</div>
